@layer components {
  .app-shell {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-position: center;
    background-size: cover;
  }

  .window-content {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }
}
